<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level]%d{HH:mm:ss.SSS} [%t] %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileInfo" fileName="D:/log/tax_info.log"
			filePattern="D:/log/tax_info-%d{yyyy-MM-dd}-%i.log">
			
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy  interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileInfo" />
		</Root>
	</Loggers>

</Configuration>  